/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Reddit+Mono:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Main body styling*/
body {
    background-color: #dac4fb;
    font-family: 'Reddit Mono', monospace;
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
}


/*The landing page container display and styling*/
.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px;
    padding: 20px;
    background: rgba(196, 241, 254, 0.9); 
    border-radius: 15px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    justify-content: center;
}

/*Game layout styling*/
.game-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    background-color: hsla(224, 78%, 35%, 0.8);
    padding: 20px;
    border-radius: 10px;
    flex-wrap: wrap;
}
/*game container display and styling*/
.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f8ff;
    background-size: contain;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    flex-grow: 1;
}

/*Player name input styling*/
.name-input-container input {
    padding: 5px;
    font-size: 1.3em;
    width: 70%;
}

.name-input-container {
    margin-bottom: 10px;
}

/*Game button styling*/
.name-input-container button {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}
/*Scores display and stying*/
.scores {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.scores h2 {
    margin: 5px;
    font-size: 24px;
    font-style: italic;
    color: #413bff;
}


.choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    background-color: #3bbeff;
    padding: 10px;
    border-radius: 10px;
}

.choice {
    margin: 5px;
    padding: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.choice img {
    max-width: 40px;
    max-height: 40px;
}

.result-container {
    margin-top: 10px;
}

.result .player-choice img,
.result .computer-choice img {
    max-width: 60px;
    max-height: 60px;
}

.result .player-choice,
.result .computer-choice,
.result .round-result {
    margin-bottom: 5px;
    font-size: 24px;
    color: #413bff;
}

@media screen and (max-width: 768px) {
    .name-input-container input {
        font-size: 1.5em;
        width: 90%;
    }}

    .game-layout {
        flex-direction: column;
        align-items: center;
    }
